/node_modules
/logs
/VLCB-server/config/config.json
/VLCB-server/config/nodeConfig.json
/VLCB-server/layouts
/unit_tests/logs
/unit_tests/layouts
/unit_tests/test_output/config/nodeConfig.json
/unit_tests/test_output/layouts
