node_modules
logs
VLCB-server/config/config.json
VLCB-server/config/nodeConfig.json
VLCB-server/config/layouts
unit_tests/logs
unit_tests/test_output/config/config.json
unit_tests/test_output/config/modules
unit_tests/test_output/test_user
./unit_tests/test_output/
VLCB-server/config/nodeDescriptors.json
